{% extends "base_logged.html" %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}

    {% block head %}
        <title>Editar Denuncia</title>
        <link rel="stylesheet" href={% static './css/editar-denuncias.css' %}>
        <script src={% static './js/editar-denuncias.js' %}></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCNBXXp1F51POAPSBSf5AECz7ft8NBhr4&callback=initMap&libraries=places" async defer></script>
        <!-- JQuery Validate -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    {% endblock head %}
</head>
<body>
    {% block body %}
    <div class="container-fluid">
        <div id="banner-titulo" class="row">
            <div class="col-xs-12">
                <h1>Editar Denuncia #{{denuncia.id}}<h1>    
            </div>    
        </div>

        <form id="form-editar-denuncia" class="needs-validation" novalidate method="POST" action="/denuncias/do_editar" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row formulario">
                <input type="hidden" value="{{denuncia.id}}" name="id_denuncia">
                <div class="divs col-xs-12 col-md-6 info-perfil">
                    <h5>Titulo:</h5>
                    <input type="text" value="{{denuncia.titulo}}" class="form-control" id="titulo-cambiar" name="titulo-cambiar" placeholder="Ingrese nuevo titulo" minlength="5"/>
                </div>
                <div class="divs col-xs-12 col-md-6 info-perfil">
                    <h5>Tipo de denuncia:</h5>
                    <select type="text" class="form-control" id="tipo-denuncia" name="tipo-denuncia" required>
                        {% for tipo in tipos %}
                        <option value="{{ tipo.0 }}" {% if denuncia.tipo == tipo.0 %} selected {% endif %}>{{ tipo.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="divs col-xs-12 col-md-6 info-perfil">
                    <h5>Ubicación:</h5>
                    <input type='hidden' value="{{ denuncia.coordenadas }}" class="form-control" id="coordenadas-cambiar" name="coordenadas-cambiar" minlength="2"/>
                    <p id="p-coordenadas">{{ coordenada_corta }}</p>
                    <div id="mapa"></div>
                    <button id="editar-ubicacion" class="btn btn-success">Editar ubicación</button>
                </div>
                <div class="divs col-xs-12 col-md-6 info-perfil">
                    <h5>Descripción:</h5>
                    <textarea class="form-control" id="descripcion" name="descripcion-denuncia" placeholder="Describa los hechos" rows=6>{{ denuncia.descripcion }}</textarea>
                </div>
                <div id="botones-editar-denuncia" class="row">
                    <div id="div-cancelar" class="divs col-xs-12 col-md-6 col-lg-1 order-1 order-md-0 boton-editar">
                            <button id="cancelar-edicion-denuncia" type="button" class="btn btn-danger">Cancelar</button>
                    </div>
    
                    <div id="div-guardar" class="divs col-xs-12 col-md-6 col-lg-2 order-0 order-md-1 boton-editar">
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </div>
            </div>
        <form>
    </div>

    <!-- Formulario Modal -->
        <div class="modal fade" id="modal-ubicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="card-header bg-success text-white">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Selecciona un punto en el mapa</h5>
                    </div>
                    <div class="modal-body modal-dialog-scrollable">
                        <div class="container-fluid">
                            <div class="row modal-row">
                                <input type="search" class="form-control col-xs-12" name="buscador" id="buscador-coordenadas" placeholder="Escribe una dirección o lugar...">    
                                <div id="modal-mapa" class="col-xs-12">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    
    {% endblock body %}
</body>
</html>