{% extends "base_logged.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    {% block head %}
    <title>Mis Denuncias</title>
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href={% static './css/mis-denuncias.css' %} />
    <!-- Mapa -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCNBXXp1F51POAPSBSf5AECz7ft8NBhr4&callback=initMap" async defer></script>
    <!-- Sweet Modal -->
    <link rel="stylesheet" href={% static 'js/sweet-modal/min/jquery.sweet-modal.min.css' %} />
    <script src={% static 'js/sweet-modal/min/jquery.sweet-modal.min.js' %}></script>
    <!-- Scripts Propios -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src={% static './js/mis-denuncias.js' %}></script>
    {% endblock head %}
    
</head>

<body>
    {% block body %}
    <div class="container-fluid">
        <div class="row justify-content-around banner">
            <div id="banner-titulo" class="row">
                <div class="col-xs-12 col-md-5">
                    <h1>Mis denuncias<h1>    
                </div>
                <div class="col-xs-10 col-md-7">
                    <input type="search" id="busqueda" class="form-control" name="busqueda" id="" placeholder="   Filtrar denuncias..." >
                </div>
            </div>
        </div>

        <div class="row justify-content-around" id="contenedor-denuncia">

            {% for denuncia in denuncias %}
                <div id="div-{{denuncia.id}}" class="grid-sizer col-xs-12 col-md-5 col-lg-4 denuncia">
                    <div class="card tarjetas">
                        <input id="titulo-{{ denuncia.id }}" value="{{ denuncia.titulo }}" type="hidden"></input>
                        <input id="tipo-{{ denuncia.id }}" value="{{ denuncia.tipo }}" type="hidden"></input>
                        <input id="fecha-{{ denuncia.id }}" value="{{ denuncia.fecha_creacion|date:"SHORT_DATE_FORMAT" }}" type="hidden"></input>
                        <input id="hora-{{ denuncia.id }}" value="{{ denuncia.hora_creacion }}" type="hidden"></input>
                        <input id="descripcion-{{ denuncia.id}}" value="{{ denuncia.descripcion }}" type="hidden"></input>
                        <input id="coordenadas-{{ denuncia.id}}" value="{{ denuncia.coordenadas }}" type="hidden"></input>

                        <div class="card-header bg-dark titulox">
                            <h2 class="card-title titulo">{{ denuncia.titulo|truncatechars_html:18 }}</h2>
                        </div>
                        <div class="card-header bg-primary subtitulox">
                            <h5 class="mb-2 sub-tipo">{{ denuncia.tipo }}</h5>
                            <h5 class="mb-2 sub-fecha">{{ denuncia.fecha_creacion|date:"SHORT_DATE_FORMAT" }}</h5>
                        </div>
                        <div class="card-body descrip">
                            <p class="card-text">{{ denuncia.descripcion|truncatechars_html:100 }}</p>                            
                        </div>
                        <div class="card-footer futer">
                            <a id="i-{{ denuncia.id }}" class="btn btn-success btn-ver text-white card-link" data-toggle="modal" data-target="#modalInfo">Ver</a>
                            <a href="/denuncias/editar_denuncias/{{denuncia.id}}/" class="btn btn-primary btn-editar card-link">Editar</a>
                            <a id="{{ denuncia.id }}" href="#" class="btn-danger btn btn-eliminar card-link">Eliminar</a>
                        </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12" id="img-no-denuncias">
                <img src={% static './images/no-denuncias.jpg' %} alt="foto-no-denuncias">
            </div>
            <div class="col-12" id="texto-no-denuncias">
                <h1>Aún no has denunciado nada...</h1>
            </div>
            {% endfor %}
        </div>
        <div id="modalInfo" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="card-header bg-dark text-white titulox">
                    <h2 id="titulo-ver" class="modal-title"></h2>
                </div>
                <div class="card-header bg-primary text-white subtitulox">
                    <h5 id="tipo-ver" class="modal-title"></h5>
                    <h5 id="fechahora-ver" class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <p id="descripcion-ver">Descripcion</p>
                    <div id="map"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a id="editarModal" class="btn btn-primary">Editar</a>
                    <button type="button" class="eliminarModal btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock body %}
</body>

</html>