{% extends 'base_logged.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    {% block head %}
    <title>Editar Perfil - {{ nombre }}</title>
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href={% static './css/editar-perfil.css' %} />
    <!-- JQuery Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <!-- Scripts Propios -->
    <script src={% static './js/editar-perfil.js' %}></script>
    {% endblock head %}
</head>

<body>
    {% block body %}
    <form id="form-editar" class="needs-validation" novalidate method="POST" action="/cuentas/editar" enctype="multipart/form-data">
    {% csrf_token %}

        <div class="container-fluid">
            <div class="row justify-content-around banner">
                <div id="banner-titulo" class="col-xs-12">
                    <h1>Editar Información de Mi Cuenta<h1>    
                </div>
            </div>

            <div class="row">
                <div id="div-foto" class="divs col-xs-12 col-md-12 col-lg-3">
                    <img src={% if not avatar %} "{% static 'images/img_avatar.png' %}" {% else %} "/{{ avatar.url }}" {% endif %}  class="foto-usuario border border-info" alt="foto-usuario">
                    <div class="boton-cambiar">
                        <label id="btn-files" for="files" class="btn btn-dark">Editar</label>
                        <input id="files" style="visibility:hidden;" type="file" name="imagen">
                    </div>
                </div>

                <div class="divs col-xs-12 col-md-6 col-lg-3 info-perfil primera-fila">
                    <h5>Nombres:</h5>
                    <input type="text" value="{{ nombre }}" class="form-control" id="nombre-cambiar" name="nombre-cambiar" placeholder="Ingrese nuevo nombre" minlength="2" required/>
                </div>

                <div class="divs col-xs-12 col-md-6 col-lg-3 info-perfil primera-fila">
                    <h5>Apellidos:</h5>
                    <input type="text" value="{{ apellido }}" class="form-control" id="apellido-cambiar" name="apellido-cambiar" placeholder="Ingrese nuevo apellido" minlength="2" required/>
                </div>

                <div class="divs col-xs-12 col-md-6 col-lg-3 info-perfil primera-fila">
                    <h5>Teléfono:</h5>
                    <input type="number" value="{{ telefono }}"  class="form-control" id="telefono-cambiar" name="telefono-cambiar" pattern="[0-9]" placeholder="Ingrese nuevo Telefono" minlength="1" maxlength="9" required/>
                </div>
                
                <div class="divs col-xs-12 col-md-6 offset-lg-3 col-lg-3 info-perfil segunda-fila">
                    <h5>Email:</h5>
                    <input type="email" value="{{ email }}"  class="form-control" id="email-cambiar" name="email-cambiar" placeholder="Ingrese nuevo email" required/>
                </div>

                <div class="divs col-xs-12 col-md-6 col-lg-3 info-perfil segunda-fila">
                    <h5>Fecha de nacimiento:</h5>
                    <input type="date" value= "{{ fecha_nacimiento }}"  class="form-control" name="fecha-nacimiento-cambiar" id="fecha-nacimiento-cambiar"/>
                </div>
                
                <div class="divs col-xs-12 col-md-6 col-lg-3 info-perfil segunda-fila">
                    <h5>País:</h5>
                    <select class="form-control"  name="pais-cambiar" placeholder="Pais" required>
                        {% for nom_pais in paises  %}
                            <option value={{ nom_pais.0 }} {% if nom_pais.0 == pais %} selected="selected" {% endif %}>{{ nom_pais.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="opciones-perfil" class="row">
                <div id="opt-cancelar" class="divs col-xs-12 col-md-6 col-lg-1 order-1 order-md-0 boton-editar">
                        <button id="cancelar-edicion" type="button" class="btn btn-danger">Cancelar</button>
                </div>

                <div id="edit-perfil" class="divs col-xs-12 col-md-6 col-lg-2 order-0 order-md-1 boton-editar">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </form>

    {% endblock body %}
</body>

</html>