<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block head %}
    <link rel="stylesheet" type="text/css" href={% static './css/error_404.css' %} />
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock head %}
</head>

<body>
    {% block body %}
    <div class="div-foto col-12" id="imagen-404">
        <img src={% static './images/imagen-error.jpg' %} alt="foto-error-404">
    </div>
    <div class="col-12 div-texto" id="texto-404">
        <h1>Pagina web no disponible.</h1>
    </div>
    <div>
        <h1>hola
        </h1>
    </div>
    {% endblock body %}
</body>

</html>