{% extends 'base_logged.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    {% block head %}
    <title>Perfil - {{ nombre }}</title>
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href={% static './css/perfil.css' %} />
    <!-- JQuery Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <!-- Sweet Modal -->
    <link rel="stylesheet" href={% static 'js/sweet-modal/min/jquery.sweet-modal.min.css' %} />
    <script src={% static 'js/sweet-modal/min/jquery.sweet-modal.min.js' %}></script>
    <!-- Scripts Propios -->
    <script src={% static './js/perfil.js' %}></script>
    {% endblock head %}
</head>

<body>
    {% block body %}

    <div class="container-fluid">
        <div class="row justify-content-around banner">
            <div id="banner-titulo" class="col-xs-12">
                <h1>Mi cuenta<h1>
            </div>
        </div>

        <div class="row">
            <div id="div-foto" class="divs col-xs-12 col-md-12 col-lg-3">
                <img src={% if not avatar %} "{% static 'images/img_avatar.png' %}" {% else %} "/{{ avatar.url }}"
                    {% endif %} class="foto-usuario border border-info" alt="foto-usuario">
            </div>

            <div class="divs col-xs-12 col-md-6 col-lg-3 info-perfil">
                <h5>Nombre:</h5>
                <p>{{ nombre }} {{ apellido }}</p>
            </div>

            <div class="divs col-xs-12 col-md-6 col-lg-2 info-perfil">
                <h5>Teléfono:</h5>
                <p>{{ telefono }}</p>
            </div>

            <div class="divs col-xs-12 col-md-6 col-lg-4 info-perfil">
                <h5>Email:</h5>
                <p>{{ email }}</p>
            </div>

            <div class="divs col-xs-12 col-md-6 col-lg-3 offset-lg-3 info-perfil segunda-fila">
                <h5>Fecha de nacimiento:</h5>
                <p>{{ fecha_nacimiento }}</p>
            </div>

            <div class="divs col-xs-12 col-md-6 col-lg-2 info-perfil segunda-fila">
                <h5>País:</h5>
                <p>{{ pais }}</p>
            </div>

            <div class="divs col-xs-12 col-md-6 col-lg-4 info-perfil segunda-fila">
                <h5>Fecha de registro:</h5>
                <p>{{ fecha_registro }}</p>
            </div>
        </div>

        <div id="opciones-perfil" class="row">
            <div id="opt-pass" class="divs col-xs-12 col-md-6 col-lg-3 order-1 order-md-0 boton-editar">
                <button id="btn-editar-contraseña" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                    Cambiar Contraseña
                </button>
            </div>

            <div id="edit-perfil" class="divs col-xs-12 col-md-6 col-lg-2 order-0 order-md-1 boton-editar">
                <button id="btn-editar-perfil" type="button" class="btn btn-primary">Editar Perfil</button>
            </div>
        </div>
    </div>



    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="card-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar Contraseña</h5>
                        </div>
                        <form id="form-editar-contraseña" class="needs-validation" novalidate method="POST" action="/cuentas/contraseña/editar">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 inputs">
                                            <label>Actual Contraseña</label>
                                            <input type="password" class="form-control" id="contrasena-actual" name="contrasena-actual"
                                                placeholder="Ingrese su actual contraseña" minlength="8"/>
                                        </div>
                                        <div class="col-xs-12 inputs">
                                            <label>Nueva Contraseña</label>
                                            <input type="password" class="form-control" id="contrasena-editar" name="contrasena-editar"
                                                placeholder="Ingrese nueva contraseña." minlength="8"/>
                                        </div>
                                        <div class="col-xs-12 inputs">
                                            <label>Repetir Nueva Contraseña</label>
                                            <input type="password" class="form-control" id="contrasena2-editar" name="contrasena2-editar"
                                                placeholder="Repita nueva contraseña." minlength="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button id="cambiar-contra" type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock body %}
</body>

</html>