<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href={% static 'css/base_logged.css' %} />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href={% static 'css/tooltipster.bundle.min.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'css/tooltipster-sideTip-punk.min.css' %} />
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/414c10bfed.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Tooltipster -->
    <script src={% static 'js/tooltipster.bundle.min.js' %}></script>
    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet" />

    <script src={% static 'js/base_logged.js' %}></script>

    <!-- Aqui va todo lo que aporta el heredero de esta base -->
    {% block head %}
    {% endblock head %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark navegacion fixed-top">
        <div class="container d-flex justify-content-around align-items-center navi">
            <a class="navbar-brand" href="/home">
                <img src={% static './images/logo.png' %} alt="logo-denunciapp" id="logo-nav" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item d-md-none login">
                        <a href="/cuentas/perfil" class="nav-link">Perfil</a>
                    </li>
                    <li class="nav-item d-md-none denuncias">
                        <a href="/denuncias/mis_denuncias" class="nav-link">Mis Denuncias</a>
                    </li>
                    <li id="Cerar-Sesion-Mob" class="nav-item d-md-none">
                        <a href="/cuentas/logout" class="nav-link">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
            
            <div id="busqueda-nav" class="d-none d-lg-block">
                <div class="form-inline busquedax">
                    <input id="busqueda-nave" class="form-control" type="search" placeholder="Buscar un lugar" aria-label="Search">
                </div>
            </div>

            <div id="navegacion-botones">
                <div id="homeButton" class="boton d-none d-md-flex" title="Inicio">
                    <i class="fas fa-home icono"></i>
                </div>

                <div id="denunciasButton" class="boton d-none d-md-flex" title="Mis denuncias">
                    <i class="far fa-list-alt icono"></i>
                </div>

                <div id="perfil" class="d-none d-md-flex" title="Mi cuenta" data-toggle="popover" data-placement="bottom">
                    <img src={% if not avatar %} "{% static 'images/img_avatar.png' %}" {% else %} "/{{ avatar.url }}" {% endif %}  class="avatar" alt="foto-usuario">
                </div>
            </div>
        </div>
    </nav>

    <div class="d-lg-none" id="busqueda-flotante">
        <div class="form-inline">
            <input id="busqueda-flot" class="busqueda-flotante form-control" type="search" placeholder="   Buscar un lugar" aria-label="Search">
        </div>
    </div>


    <!-- popover content -->
    <ul id="popover-content" class="list-group" style="display: none; font-weight: 600;">
        <a href="/cuentas/perfil" class="list-group-item list-group-item-action">Mi perfil</a>
        <a href="/cuentas/logout" class="list-group-item list-group-item-action">Cerrar sesión</a>
    </ul>

    <!-- Body que aporta el heredero de esta base -->
    {% block body %}
    {% endblock body %}
</body>

</html>