<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href={% static 'css/base.css' %} />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href={% static 'css/tooltipster.bundle.min.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'css/tooltipster-sideTip-punk.min.css' %} />
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/414c10bfed.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Sweet Modal -->
    <link rel="stylesheet" href={% static 'js/sweet-modal/min/jquery.sweet-modal.min.css' %} />
    <script src={% static 'js/sweet-modal/min/jquery.sweet-modal.min.js' %}></script>
    <!-- Animate Scroll -->
    <script src={% static 'js/animatescroll.min.js' %}></script>
    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet" />
    <!-- Script propio base -->
    <script src={% static 'js/base.js' %}></script>

    <!-- Aqui va todo lo que aporta el heredero de esta base -->
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark navegacion fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src={% static 'images/logo.png' %} alt="logo-denunciapp" id="logo-nav" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item d-md-none login">
                        <a class="nav-link">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item d-md-none registro registro-self">
                        <a class="nav-link">Registrarse</a>
                    </li>
                    <li id="Mas-Info-Mob" class="nav-item d-md-none">
                        <a class="nav-link">Más Información</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-outline-light botones-usuario d-none d-md-block login">
					Iniciar Sesión
				</button>
            <button type="button" class="btn btn-light botones-usuario d-none d-md-block registro registro-self">
					Registrarse
                </button>
                <button class="btn btn-danger google-btn social-btn boton" onclick="location.href='{%  url 'social:begin' 'google-oauth2' %}'" type="button"><span><i class="fab fa-google-plus-g"></i> o inicia sesión con Google</span> </button>
        </div>
    </nav>

    <!-- Body que aporta el heredero de esta base -->
    {% block body %}
    {% endblock %}
</body>

</html>