body {
	overflow-x: hidden;
}

input,
select {
	height: 50px !important;
	font-size: 20px !important;
}

textarea {
	font-size: 18px !important;
}

.divs {
	display: flex;
	justify-content: center;
}

#banner-titulo {
	position: sticky;
	margin-top: 10vh;
	top: 10vh;
	z-index: 999;
	background-color: #222;
	color: #fff;
	height: 22vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#banner-titulo h1 {
	margin-top: 10px;
	font-weight: 800;
	font-size: 36px;
	text-align: center;
}

#mapa {
	height: 300px;
}

.info-perfil {
	margin-top: 25px;
	flex-direction: column;
	text-align: center;
}

.info-perfil h5 {
	font-size: 24px;
	font-weight: 600;
}

.info-perfil p {
	font-size: 16px;
	font-weight: lighter;
}

.boton-editar {
	height: 50px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.boton-editar button {
	width: 90vw;
	font-weight: 700;
	font-size: 20px;
}

#editar-ubicacion {
	font-size: 20px;
	font-weight: 700;
}

#p-coordenadas {
	font-size: 24px;
}

#div-guardar {
	margin-top: 45px !important;
}

#div-cancelar {
	margin-top: 0px !important;
}

#modal-mapa {
	height: 60vh;
	width: 90vw;
}

label.error {
	color: red;
	width: fit-content;
	max-width: 35vw;
	font-size: 0.8em;
	margin-top: -2px;
}

/* Modal */

.card-header h5 {
	font-size: 24px !important;
	font-weight: 800 !important;
}

.modal-body label {
	font-size: 18px !important;
}

.modal-body input,
.modal-body select {
	height: 40px !important;
	font-size: 18px !important;
}

.modal-body input,
.modal-body select,
.modal-body textarea,
.modal-body p {
	font-size: 18px !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#banner-titulo {
		margin-top: 8vh;
		top: 8vh;
		height: 8vh;
		justify-content: flex-start;
	}

	#banner-titulo h1 {
		font-size: 36px;
		text-align: left;
		margin-left: 7vw;
	}

	#mapa {
		height: 250px;
	}

	.info-perfil {
		margin-top: 60px;
		flex-direction: column;
		text-align: center;
	}

	.info-perfil h5 {
		font-size: 24px;
	}

	.info-perfil p {
		font-size: 18px;
		font-weight: lighter;
	}

	.info-perfil textarea {
		height: 350px;
	}

	.formulario {
		margin-top: 3vh;
	}

	.boton-editar {
		height: 50px;
		margin-top: 60px;
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	#p-coordenadas {
		font-size: 20px;
	}

	#div-guardar {
		margin-top: 70px !important;
	}

	#div-guardar button,
	#div-cancelar button {
		width: 40vw;
	}

	#div-cancelar {
		margin-top: 70px !important;
	}

	#botones-editar-denuncia {
		width: 100vw;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	input,
	select {
		height: 40px !important;
	}
	#banner-titulo {
		margin-top: 10vh;
		top: 10vh;
		height: 10vh;
		justify-content: flex-start;
	}

	#banner-titulo h1 {
		font-size: 36px;
		text-align: left;
		margin-left: 9vw;
	}

	#mapa {
		height: 180px;
	}

	.info-perfil {
		margin-top: 20px;
		flex-direction: column;
		text-align: center;
	}

	.info-perfil h5 {
		font-size: 20px;
	}

	.info-perfil p {
		font-size: 18px;
		font-weight: lighter;
	}

	.info-perfil textarea {
		height: 270px;
	}

	.formulario {
		margin-top: 3vh;
	}

	.boton-editar {
		margin-top: unset;
		margin-bottom: unset;
		height: 50px;
	}

	#div-guardar {
		margin-top: 10vh !important;
	}

	#div-guardar button,
	#div-cancelar button {
		width: 20vw;
	}

	#div-cancelar {
		width: fit-content;
		margin-top: 10vh !important;
	}

	#botones-editar-denuncia {
		display: flex;
		justify-content: flex-end;
		margin-top: -6vh;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
