.banner {
	position: sticky;
	top: 10vh;
	margin-top: 10vh;
	z-index: 300;
}

#banner-titulo {
	background-color: #222;
	color: #fff;
	height: 22vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#banner-titulo h1 {
	margin-top: 10px;
	font-weight: 800;
	font-size: 40px;
	text-align: center;
}

#busqueda {
	margin-top: -20px;
	width: 90vw;
	border-radius: 30px;
}

.tarjetas {
	display: flex;
	margin-top: 30px;
	box-shadow: 3px 3px 12px #666;
}

.titulo {
	font-weight: 800;
	font-size: 36px;
}

.titulox {
	background: #222;
	color: #fff;
	text-align: center;
}

.titulox h2 {
	margin: auto !important;
}

.subtitulox {
	background: #888;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.subtitulox h5 {
	font-size: 22px;
	margin: auto !important;
}

.descrip p {
	font-size: 20px !important;
	margin: auto;
}

.futer {
	display: flex;
	justify-content: flex-end;
}

#map {
	height: 200px;
}

#modalInfo {
	z-index: 1070;
}

#img-no-denuncias {
	display: flex;
	justify-content: center;
}

#img-no-denuncias img {
	width: 100vw;
	height: auto;
}

#texto-no-denuncias {
	margin-top: 5vh;
	display: flex;
	justify-content: center;
}

#texto-no-denuncias h1 {
	font-weight: 800;
	font-size: 48px;
	text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.banner {
		top: 8vh;
		margin-top: 8vh;
	}

	#banner-titulo {
		height: 10vh;
		width: 100vw;
	}

	#banner-titulo h1 {
		margin-top: 10px;
		font-size: 38px;
		text-align: center;
	}

	#busqueda {
		margin: auto;
		width: 50vw;
		border-radius: 30px;
	}

	.titulo {
		font-size: 25px;
	}

	#img-no-denuncias img {
		width: 80vw;
	}

	#texto-no-denuncias {
		margin-top: 5vh;
		display: flex;
		justify-content: center;
	}

	#texto-no-denuncias h1 {
		font-size: 66px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body {
		overflow-x: hidden;
	}

	.banner {
		top: 10.5vh;
		margin-top: 10.5vh;
	}

	#banner-titulo {
		height: 13vh;
		width: 100vw;
	}

	#banner-titulo h1 {
		font-size: 40px;
		text-align: center;
	}

	#busqueda {
		width: 40vw;
		border-radius: 30px;
	}

	.titulo {
		font-size: 36px;
	}

	#img-no-denuncias img {
		width: 40vw;
	}

	#texto-no-denuncias {
		margin-top: 3vh;
		display: flex;
		justify-content: center;
	}

	#texto-no-denuncias h1 {
		font-size: 40px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
