/* Toda la pagina */

body {
	overflow: hidden !important;
}

.activar-scroll {
	overflow-y: auto !important;
}

/* Página de Inicio */
.carrusel {
	background: #000;
}

.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#fondo1 {
	background-image: url(../images/ciudad1.jpg);
}

#fondo2 {
	background-image: url(../images/ciudad2.jpg);
}

#fondo3 {
	background-image: url(../images/ciudad3.jpg);
}

.fondos {
	-webkit-filter: contrast(120%);
	-moz-filter: contrast(120%);
	-o-filter: contrast(120%);
	filter: contrast(120%);
}

.slogan {
	font-family: 'Nunito Sans', sans-serif;
	margin-bottom: 150px;
}

.slogan h2 span {
	background: rgba(0, 0, 0, 0.65);
	font-weight: 600;
}

.slogan button {
	font-weight: 700;
	margin-top: 60px;
}

.info {
	position: absolute;
	margin-top: 90vh;
	margin-left: 82vw;
	background: rgba(255, 255, 255, 0.7) !important;
	border-radius: 30px !important;
	z-index: 2;
	transition: transform 0.5s;
}

.info:hover {
	background: rgba(255, 255, 255, 1) !important;
}

.info:hover i {
	transform: scale(1.1);
	transition: transform 0.3s;
}

/* Página de Nosotros */

section {
	height: 100vh;
}

#Nosotros div h1 {
	font-family: 'Nunito Sans', sans-serif;
	margin-top: 8vh;
	margin-bottom: 20px;
}

.foto-nosotros {
	height: 45vh;
}

.extracto {
	text-align: justify;
}

.social {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
}

.social i {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 32px;
	margin-right: 22px;
	height: 60px;
	width: 60px;
	transition: transform 0.5s;
}

.social i:hover {
	transition: transform 0.3s;
	transform: scale(1.2);
}

.fb {
	background: #3b5998;
}

.tw {
	background: #00acee;
}

.ins {
	background: #dd2a7b;
}

.tel {
	background: #03c04a;
}

.correo {
	background: #fcd12a;
}

#BackTop {
	margin-top: 80px;
	margin-left: 90px;
	background: rgba(0, 0, 0, 0.8) !important;
	border-radius: 35px;
	transition: transform 0.5s;
}

#BackTop:hover {
	background: rgba(0, 0, 0, 1) !important;
}

#BackTop:hover i {
	transition: transform 0.3s;
	transform: scale(1.1);
}

@media (max-width: 992px) {
	.slogan {
		margin-bottom: 200px;
	}
	.slogan h2 span {
		font-size: 60px;
	}
	.slogan button {
		width: 40vw;
		font-size: 20px;
		margin-top: 150px;
	}
	.info {
		margin-top: 95vh;
		margin-left: 70vw;
	}
	/* Nosotros */
	#Titulo-Nosotros {
		font-weight: 600;
	}
	.foto-nosotros {
		margin-top: 20px;
		height: 15vh;
	}
	.extracto {
		margin-top: 15px;
	}
	.social {
		margin-top: 50px;
	}
	.social i {
		font-size: 30px;
		height: 50px;
		width: 50px;
	}
	#BackTop {
		margin-left: 0px;
		margin-top: 55px;
		width: 200px !important;
	}
}

@media (max-width: 1200px) and (orientation: landscape) {
	.slogan {
		margin-bottom: 200px;
	}
	.slogan h2 span {
		font-size: 60px;
	}
	.slogan button {
		width: 40vw;
		font-size: 20px;
		margin-top: 150px;
	}
	.info {
		margin-top: 95vh;
		margin-left: 75vw;
	}
	/* Nosotros */
	#Titulo-Nosotros {
		font-weight: 600;
	}
	.foto-nosotros {
		margin-top: 20px;
		height: 35vh;
	}
	.extracto {
		margin-top: 15px;
	}
	.social {
		margin-top: 50px;
	}
	.social i {
		font-size: 30px;
		height: 50px;
		width: 50px;
	}
	#BackTop {
		margin-left: 0px;
		width: 200px !important;
	}
}

@media (max-width: 768px) and (orientation: portrait) {
	.slogan {
		margin-bottom: 150px;
	}
	.slogan h2 span {
		font-size: 60px;
	}
	.slogan button {
		width: 40vw;
		font-size: 20px;
		margin-top: 200px;
	}
	.info {
		margin-top: 95vh;
		margin-left: 70vw;
	}
	/* Nosotros */
	#Titulo-Nosotros {
		font-size: 50px;
		text-align: center;
		font-weight: 600;
	}
	.foto-nosotros {
		margin-top: 15px;
		height: 18vh;
	}
	.extracto {
		margin-top: 15px;
	}
	.social {
		margin-top: 50px;
	}
	.social i {
		font-size: 20px;
		height: 50px;
		width: 50px;
	}
	#BackTop {
		margin-top: 5vh;
		margin-left: 0px;
		width: 200px !important;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	.slogan {
		margin-bottom: 15px;
	}
	.slogan h2 span {
		font-size: 30px;
	}
	.slogan button {
		width: 35vw;
		font-size: 16px;
		margin-top: 40px;
	}
	.info {
		height: 0px;
		width: 0px;
		color: rgba(0, 0, 0, 0) !important;
		background: rgba(0, 0, 0, 0) !important;
		border: rgba(0, 0, 0, 0) !important;
		pointer-events: none;
		margin-top: 92vh;
		margin-left: 40vw;
	}
	/* Nosotros */
	#Titulo-Nosotros {
		font-size: 38px;
		text-align: center;
		font-weight: 600;
	}
	.foto-nosotros {
		height: 50vh;
		width: 70vw;
		justify-self: center;
	}
	.extracto {
		margin-top: 15px;
	}
	#BackTop {
		margin-top: -1000px;
		height: 0px;
		width: 0px;
		color: rgba(0, 0, 0, 0) !important;
		background: rgba(0, 0, 0, 0) !important;
		border: rgba(0, 0, 0, 0) !important;
		pointer-events: none;
	}
	.social {
		margin-top: 30px;
	}
	.social i {
		font-size: 30px;
		height: 60px;
		width: 60px;
	}
}

@media (max-width: 576px) and (orientation: portrait) {
	.slogan {
		margin-bottom: 70px;
	}
	.slogan h2 span {
		font-size: 35px;
	}
	.slogan button {
		width: 65vw;
		font-size: 16px;
		margin-top: 40px;
	}
	.info {
		height: 0px;
		width: 0px;
		color: rgba(0, 0, 0, 0) !important;
		background: rgba(0, 0, 0, 0) !important;
		border: rgba(0, 0, 0, 0) !important;
		pointer-events: none;
		margin-top: 92vh;
		margin-left: 40vw;
	}
	/* Nosotros */
	#Titulo-Nosotros {
		font-size: 35px;
		text-align: center;
		font-weight: 600;
	}
	.foto-nosotros {
		height: 30vh;
		width: 92vw;
	}
	.extracto {
		margin-top: 15px;
	}
	#BackTop {
		margin-top: -1000px;
		height: 0px;
		width: 0px;
		color: rgba(0, 0, 0, 0) !important;
		background: rgba(0, 0, 0, 0) !important;
		border: rgba(0, 0, 0, 0) !important;
		pointer-events: none;
	}
	.social {
		margin-top: 30px;
	}
	.social i {
		font-size: 20px;
		height: 50px;
		width: 50px;
	}
}
