form {
	margin-top: 15vh;
}

.titulo {
	margin-top: 5px;
	font-size: 54px !important;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
}

label {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 500 !important;
	font-size: 16px !important;
}

.form-group,
.form-check {
	margin-top: 5px;
}

.div-campos {
	margin-top: 10px;
}

.fondo {
	background: white;
	color: black;
}

.error-control {
	border: 1px solid red;
}

label.error {
	color: red;
	width: fit-content;
	max-width: 35vw;
	font-size: 0.8em;
	margin-top: -2px;
}

.fin {
	margin-top: 15px;
}

#miboton {
	margin-right: 10px;
}
