label.error {
	color: red;
	width: fit-content;
	max-width: 35vw;
	font-size: 0.8em;
	margin-top: -2px;
}

section {
	display: flex;
}

#map {
	height: 100vh;
	width: 100vw;
}

#botones {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 9;
	margin-left: 80vw;
	margin-top: 80vh;
}

#botones button {
	margin-top: 15px;
	border-radius: 50%;
	height: 55px !important;
	width: 55px !important;
	box-shadow: 3px 3px 12px #666;
}

#botones button i {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;
}

.fa-plus {
	color: #fff !important;
}

#instrucciones {
	position: absolute;
	background: rgba(0, 0, 0, 0.95);
	border-radius: 10px 10px 0px 0px;
	color: #fff;
	margin-left: 6vw;
	height: 8vh;
	width: 88vw;
	margin-top: 92.5vh;
	font-weight: 800;
	display: flex;
	justify-content: center;
}

#instrucciones p {
	width: 80vw;
	height: fit-content;
	text-align: center;
	font-size: 15px;
	margin: auto;
}

.inputs {
	width: 100vw;
	margin-bottom: 15px;
}

.inputs label {
	font-weight: 800;
}

/* Modal */
/* Modal */
.card-header {
	background: #000 !important;
	color: #fff !important;
}

.card-header h5 {
	font-size: 24px !important;
	font-weight: 800 !important;
}

.modal-body label {
	font-size: 18px !important;
}

.modal-body input,
.modal-body select {
	height: 40px !important;
	font-size: 18px !important;
}

.modal-body input,
.modal-body select,
.modal-body textarea,
.modal-body p {
	font-size: 18px !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#botones {
		margin-left: 75vw;
		margin-top: 85vh;
	}

	#botones button {
		height: 70px !important;
		width: 70px !important;
		box-shadow: 3px 3px 12px #666;
	}

	#botones button i {
		font-size: 34px;
	}

	#instrucciones {
		margin-left: 15vw;
		height: 3.5vh;
		width: 70vw;
		font-weight: 800;
		display: flex;
		justify-content: center;
		margin-top: 97vh;
	}

	#instrucciones p {
		margin: auto;
		width: 80vw;
		text-align: center;
		font-size: 18px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body {
		overflow-y: hidden;
	}

	#botones {
		margin-left: 80vw;
		margin-top: 80vh;
	}

	#botones button {
		height: 70px !important;
		width: 70px !important;
		box-shadow: 3px 3px 12px #666;
	}

	#botones button i {
		font-size: 34px;
	}

	#instrucciones {
		margin-left: 27.5vw;
		height: 6vh;
		width: 45vw;
		font-weight: 800;
		display: flex;
		justify-content: center;
		margin-top: 94.5vh;
	}

	#instrucciones p {
		margin: auto;
		width: 80vw;
		text-align: center;
		font-size: 20px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
