{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block head %}
    <title>DenunciAPP</title>
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href={% static 'css/index.css' %} />
    <!-- Scripts -->
    <script src={% static 'js/tooltipster.bundle.min.js' %}></script>
    <script src={% static 'js/index.js' %}></script>
    {% endblock head %}
</head>

<body>

    {% block body %}
    <header>
        <button id="Mas-Info" class="btn btn-light btn-lg info">
				<i class="fas fa-info-circle"></i>
				<span>Más información</span>
			</button>
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="7000">
            <div class="carousel-inner carrusel" role="listbox">
                <!-- Fondo 1 -->
                <div id="fondo1" class="carousel-item active fondos">
                    <div class="carousel-caption slogan">
                        <h2 class="display-4">
                            <span>No dejes que los malos se salgan con la suya.</span>
                        </h2>
                        <button type="button" class="btn btn-light btn-lg registro">
								¡DENUNCIALOS AHORA!
							</button>
                    </div>
                </div>
                <!-- Fondo 2 -->
                <div id="fondo2" class="carousel-item fondos">
                    <div class="carousel-caption slogan">
                        <h2 class="display-4">
                            <span>¿Has tenido una mala experiencia en tu viaje?</span>
                        </h2>
                        <button type="button" class="btn btn-light btn-lg registro">
								¡ALERTA A LOS DEMÁS!
							</button>
                    </div>
                </div>
                <!-- Fondo 3 -->
                <div id="fondo3" class="carousel-item fondos">
                    <div class="carousel-caption slogan">
                        <h2 class="display-4">
                            <span>¿Vas a dar un paseo por la ciudad?</span>
                        </h2>
                        <button type="button" class="btn btn-light btn-lg registro">
								¡REVISA SI ES SEGURO!
							</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section id="Nosotros" class="py-5">
        <div class="container">
            <h1 id="Titulo-Nosotros" class="display-4">Acerca de Nosotros</h1>
        </div>
        <div id="Informacion-Empresa" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-5 d-flex justify-content-space-between">
                    <img class="foto-nosotros" src={% static 'images/foto-nosotros.jpg' %} alt="fotos-nosotros" />
                </div>
                <div class="col-xs-12 col-sm-5 col-md-7">
                    <p class="lead extracto">
                        <b>DenunciAPP</b> es una aplicación destinada a ofrecer información en tiempo real y de forma sencilla a las personas que desean visitar un lugar, ya sea de viaje a un país lejano o una salida a tu centro comercial mas cercano,
                        puedes informarte e informas a los demás acerca de situaciones lamentables que puedan suceder. ¿No crees en las noticias? ¡Sé tu la fuente de la información! En <b>DenunciAPP</b> los mismos usuarios son los que publican sus denuncias.
                        ¿Viste un asalto? ¿Te han robado la cartera? ¿Has visto un incendio? Publícalo en en nuestra plataforma y facilítale la vida a los demás.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between no-gutters">
                <div class="col-xs-12 col-md-7 col-lg-5 d-flex justify-content-between social">
                    <i class="fab fa-facebook-f fa-lg fb" title="facebook.com/DenunciAPP"></i>
                    <i class="fab fa-twitter fa-lg tw" title="@denunciapp"></i>
                    <i class="fab fa-instagram fa-lg ins" title="@denunciapp"></i>
                    <i class="fas fa-phone fa-lg tel" title="+56 9 76478770"></i>
                    <i class="fas fa-envelope fa-lg correo" title="info@denunciapp.com"></i>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <button id="BackTop" class="btn btn-dark btn-lg">
							<i class="fas fa-arrow-up"></i>
							<span>Volver al Inicio</span>
						</button>
                </div>
            </div>
        </div>
    </section>
    {% endblock body %}

</body>

</html>