{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block head %}
    <title>Registro - DenunciAPP</title>
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href={% static 'css/registro.css' %} />
    <!-- JQuery Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <!-- Scripts Propios -->
    <script src={% static './js/registro.js' %}></script>
    {% endblock head %}
</head>

<body class="fondo">
    {% block body %}
    <form id="formulario" class="needs-validation" novalidate method="POST" action="/cuentas/registrar">
        {% csrf_token %}
        <div class="container row d-flex justify-content-between mx-auto div-campos">
            <div class="container titulo">
                <h1 class="display-4 titulo">¡Únete a nosotros!</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <label for="nombres" class="lead">Nombres</label>
                <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" minlength="2" required />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <label for="apellidos" class="lead">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" required placeholder="Apellidos" minlength="2" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <label for="email" class="lead">Email</label>
                <input type="email" class="form-control" id="email" name="email" required placeholder="ejemplo@correo.com" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <label for="telefono" class="lead">Teléfono </label>
                <input type="number" class="form-control" id="telefono" name="telefono" pattern="[0-9]" placeholder="988634217" minlength="1" maxlength="9" required />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <label for="fecha" class="lead">Fecha de nacimiento</label>
                <input type="date" class="form-control" name="fecha" id="fecha" required />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <label for="pais" class="lead">País</label>
                <select class="form-control" name="pais" placeholder="Pais" required>
                    {% for pais in paises  %}
                        <option value={{ pais.0 }}> {{ pais.0 }}</option>
                    {% endfor %}
				</select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <label for="contraseña" class="lead">Contraseña</label>
                <input type="password" class="form-control" name="contraseña" minlength="8" id="contraseña" required />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <label for="contraseña2" class="lead">Repetir contraseña</label>
                <input type="password" class="form-control" name="contraseña2" minlength="8" id="contraseña2" required />
            </div>
            <div class="container row d-flex justify-content-between fin">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="check" onclick="miboton.disabled = !this.checked" required />
                        <label class="form-check-label" for="gridCheck">
								He leído y acepto los <a href="#">términos y condiciones</a> del
								servicio.
							</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 botoncito">
                    <button id="miboton" name="miboton" class="btn btn-primary" type="submit"  disabled>
							Registrarse
						</button>
                </div>
            </div>
        </div>
    </form>
    {% endblock body %}

</body>

</html>