input,
select {
	font-size: 20px !important;
}

.divs {
	display: flex;
	justify-content: center;
}

.banner {
	position: sticky;
	top: 10vh;
	margin-top: 10vh;
	z-index: 999;
	background-color: #222;
	width: 100vw;
}

#banner-titulo {
	color: #fff;
	height: 22vh;
}

#banner-titulo h1 {
	margin: auto;
	margin-top: 5.5vh;
	font-weight: 800;
	font-size: 40px;
	height: fit-content;
	text-align: center;
}

#div-foto {
	margin-top: 5vh;
	margin-bottom: 10px;
	flex-direction: column;
}

#div-foto button {
	margin-top: 15px;
	font-weight: 800;
}

#div-foto label {
	/*background: #222;
	color: #fff;*/
	position: absolute;
	font-size: 22px !important;
	text-align: center;
	margin-top: -8vh;
	margin-left: 7vw;
	font-weight: 800;
	height: 6vh;
	width: 25vw;
	opacity: 100%;
}

#div-foto label:hover {
	opacity: 100%;
}

.foto-usuario {
	margin-left: 5vw;
	width: 80vw;
	height: 80vw;
	border-radius: 5%;
}

.info-perfil {
	margin-top: 20px;
	flex-direction: column;
	text-align: center;
}

.info-perfil h5 {
	font-size: 24px;
	font-weight: 600;
}

.info-perfil p {
	font-size: 30px;
	font-weight: lighter;
}

.boton-editar {
	height: 50px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.boton-editar button {
	width: 90vw;
	font-weight: 700;
	font-size: 20px;
}

#edit-perfil {
	margin-top: 45px !important;
}

#opt-cancelar {
	margin-top: 0px !important;
}

label.error {
	color: red;
	width: fit-content;
	max-width: 35vw;
	font-size: 0.8em;
	margin-top: -2px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.espaciadores {
		display: none;
	}

	.banner {
		top: 8vh;
		margin-top: 8vh;
	}

	#banner-titulo {
		height: 8vh;
		justify-content: left;
		width: 90vw;
	}

	#banner-titulo h1 {
		font-size: 34px;
		text-align: left;
		margin: auto;
		margin-top: 2.5vh;
	}

	#div-foto {
		margin-top: 5vh;
		margin-bottom: 20px;
	}

	#div-foto label {
		height: 5vh;
		width: 12vw;
		margin-top: -6vh;
		margin-left: 33vw;
	}

	.foto-usuario {
		margin-left: 31.5vw;
		width: 37vw;
		height: 37vw;
	}

	.info-perfil {
		margin-top: 20px;
	}

	.info-perfil h5 {
		font-size: 18px;
	}

	.info-perfil p {
		font-size: 26px;
	}

	.boton-editar {
		height: 50px;
		margin-top: 60px;
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	.boton-editar button {
		width: 40vw;
	}

	#edit-perfil {
		margin-top: 70px !important;
	}

	#opt-cancelar {
		margin-top: 70px !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	input,
	select {
		height: 50px !important;
	}

	.espaciadores {
		display: unset;
	}

	.banner {
		top: 9.5vh;
		margin-top: 9.5vh;
	}

	#banner-titulo {
		height: 12vh;
		justify-content: left;
	}

	#banner-titulo h1 {
		font-size: 40px;
		text-align: left;
		margin: auto;
		margin-top: 2.5vh;
		margin-left: 5vw;
	}

	#div-foto {
		margin-top: 10vh;
		margin-bottom: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#div-foto div label {
		font-size: 16px !important;
		height: 5.5vh;
		width: 6vw;
		margin-top: -7vh;
		margin-left: 9vw;
		opacity: 85%;
	}

	#div-foto:hover img {
		filter: blur(1px);
	}

	#div-foto:hover label {
		opacity: 100%;
	}

	.foto-usuario {
		margin-left: 1vw;
		width: 18vw;
		height: 18vw;
	}

	.info-perfil {
		z-index: 3;
	}

	.info-perfil h5 {
		font-size: 18px;
	}

	.info-perfil p {
		font-size: 26px;
	}

	.primera-fila {
		margin-top: 10vh;
		height: 100px;
	}

	.segunda-fila {
		margin-top: -30vh;
		height: 100px;
		z-index: 3;
	}

	.boton-editar {
		height: 50px;
		margin-top: unset;
		margin-bottom: unset;
		justify-content: flex-end;
	}

	.boton-editar button {
		width: unset;
	}

	#opt-cancelar {
		width: fit-content;
		margin-top: 0vh !important;
	}

	#edit-perfil {
		margin-top: 0vh !important;
	}

	#opciones-perfil {
		display: flex;
		justify-content: flex-end;
		margin-top: -6vh;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
