.div-foto img{
	width: 100vw;
	height: auto;
}

@media (min-width: 576px) {

 }


@media (min-width: 768px) {

	.div-foto{
		display: flex;
		justify-content: center;
	}
	.div-foto img{
		width: 60vw;
		height: auto;
	}
	.div-texto h1{
		margin-left: 435px;
	}
 }


@media (min-width: 992px) {
	.div-foto{
		display: flex;
		justify-content: center;
	}
	.div-foto img{
		width: 40vw;
		height: auto;
	}
 }


@media (min-width: 1200px) {

 }