.divs {
	display: flex;
	justify-content: center;
}

.banner {
	position: sticky;
	top: 10vh;
	margin-top: 10vh;
	z-index: 999;
	background-color: #222;
	width: 100vw;
}

#banner-titulo {
	color: #fff;
	height: 22vh;
}

#banner-titulo h1 {
	margin: auto;
	margin-top: 5.5vh;
	font-weight: 800;
	font-size: 50px;
	width: 70vw;
	height: fit-content;
	text-align: center;
}

#div-foto {
	margin-top: 7vh;
	margin-bottom: 30px;
}

.foto-usuario {
	width: 80vw;
	height: 80vw;
	border-radius: 5%;
}

.info-perfil {
	margin-top: 20px;
	flex-direction: column;
	text-align: center;
}

.info-perfil h5 {
	font-size: 24px;
	font-weight: 600;
}

.info-perfil p {
	font-size: 30px;
	font-weight: lighter;
}

.boton-editar {
	height: 50px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.boton-editar button {
	width: 90vw;
	font-weight: 700;
	font-size: 20px;
}

#edit-perfil {
	margin-top: 45px !important;
}

#opt-pass {
	margin-top: 0px !important;
}

.inputs {
	width: 100vw;
	margin-bottom: 15px;
}

.inputs label {
	font-weight: 800;
}

label.error {
	color: red;
	width: fit-content;
	max-width: 35vw;
	font-size: 0.8em;
	margin-top: -2px;
}

/* Modal */
.card-header {
	background: #000 !important;
	color: #fff !important;
}

.card-header h5 {
	font-size: 24px !important;
	font-weight: 800 !important;
}

.modal-body label,
.modal-header label {
	font-size: 18px !important;
}

.modal-body input,
.modal-body select {
	height: 40px !important;
	font-size: 18px !important;
}

.modal-body input,
.modal-body select,
.modal-body textarea,
.modal-body p {
	font-size: 18px !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.banner {
		top: 8vh;
		margin-top: 8vh;
	}

	#banner-titulo {
		height: 10vh;
		justify-content: left;
	}

	#banner-titulo h1 {
		font-weight: 800;
		font-size: 44px;
		text-align: left;
		margin: auto;
		margin-top: 2.5vh;
	}

	#div-foto {
		margin-top: 5vh;
		margin-bottom: 35px;
	}

	.foto-usuario {
		width: 37vw;
		height: 37vw;
	}

	.info-perfil {
		margin-top: 30px;
	}

	.info-perfil h5 {
		font-size: 18px;
	}

	.info-perfil p {
		font-size: 26px;
	}

	.boton-editar {
		height: 50px;
		margin-top: 40px;
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	.boton-editar button {
		width: 40vw;
	}

	#edit-perfil {
		margin-top: 40px !important;
	}

	#opt-pass {
		margin-top: 40px !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.banner {
		top: 9.5vh;
		margin-top: 9.5vh;
	}

	#banner-titulo {
		height: 12vh;
		justify-content: left;
	}

	#banner-titulo h1 {
		font-size: 40px;
		text-align: left;
		margin: auto;
		margin-top: 2.5vh;
		margin-left: -12vw;
	}

	#div-foto {
		margin-top: 10vh;
		margin-bottom: 35px;
	}

	.foto-usuario {
		width: 20vw;
		height: 20vw;
	}

	.info-perfil {
		margin-top: -70px;
	}

	.info-perfil h5 {
		font-size: 18px;
	}

	.info-perfil p {
		font-size: 26px;
	}

	.segunda-fila {
		margin-top: -220px;
	}

	.boton-editar {
		height: 50px;
		margin-top: unset;
		margin-bottom: unset;
		width: unset;
	}

	.boton-editar button {
		width: fit-content;
	}

	#opt-pass {
		width: fit-content;
		margin-right: -5vw;
		margin-top: 0px !important;
	}

	#edit-perfil {
		margin-top: 0px !important;
		margin-right: 3vw;
	}

	#opciones-perfil {
		display: flex;
		justify-content: flex-end;
	}

	.modal-body label,
	.modal-header label {
		font-size: 16px !important;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
