{% extends 'base_logged.html' %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}

    {% block head %}
    <title>Home - DenunciAPP</title>
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href={% static './css/home.css' %} />
    <!-- JQuery Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <!-- Mapa -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCNBXXp1F51POAPSBSf5AECz7ft8NBhr4&callback=initMap&libraries=places" async defer></script>
    <!-- Sweet Modal -->
    <link rel="stylesheet" href={% static 'js/sweet-modal/min/jquery.sweet-modal.min.css' %} />
    <script src={% static 'js/sweet-modal/min/jquery.sweet-modal.min.js' %}></script>
    <!-- Scripts Propios -->
    <script src={% static './js/home.js' %}></script>
    {% endblock head %}
</head>

<body>
    {% block body %}
    <section>
        <div id="botones">
            <button id="localizar" type="button" class="btn btn-primary">
					<i class="fas fa-map-marker-alt"></i>
			</button>
        </div>
        <div id="map"></div>

        <div id="instrucciones" class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p>Selecciona un punto en el mapa para crear una denuncia.</p>
                </div>
            </div>
        </div>

        <!-- Formulario Modal -->
        <div class="modal fade" id="nueva-denuncia" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="card-header bg-dark text-white">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Nueva Denuncia</h5>
                    </div>
                    <form id="form-home" class="needs-validation" novalidate method="POST" action="/denuncias/registrar">
                    {% csrf_token %}
                        <div class="modal-body modal-dialog-scrollable">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 inputs">
                                        <label>Título</label>
                                        <input type="text" class="form-control" id="titulo" name="titulo-denuncia" placeholder="Titule su denuncia" minlength="2" required/>
                                    </div>

                                    <div class="col-xs-12 inputs">
                                        <label>Tipo de denuncia:</label>
                                        <select type="text" class="form-control" id="tipo-denuncia" name="tipo-denuncia" required>
                                            {% for tipo in tipos %}
                                                <option value={{ tipo.0 }}>{{ tipo.0 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-xs-12 inputs">
                                        <label>Coordenadas:</label>
                                        <input type="hidden" class="form-control" id="coordenadas" name="coordenadas-denuncia" placeholder="Titule su denuncia" minlength="2" required/>
                                        <p id="p-coordenadas"></p>
                                    </div>

                                    <div class="col-xs-12 inputs">
                                        <label>Descripción</label>
                                        <textarea class="form-control" id="descripcion" name="descripcion-denuncia" placeholder="Describa los hechos" rows=4></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-cancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button id="btn-publicar" type="submit" class="btn btn-primary">Publicar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock body %}
</body>

</html>
