.navegacion {
	background: rgba(0, 0, 0, 0.85);
}

.navegacion-dark {
	background: rgba(0, 0, 0, 1);
}

#logo-nav {
	height: 8vh;
}

.botones-usuario {
	margin-left: 15px;
}

h1,
h2,
span,
p {
	user-select: none;
}

@media (max-width: 992px) {
	#logo-nav {
		height: 4vh;
	}
}

@media (max-width: 1200px) and (orientation: landscape) {
	#logo-nav {
		height: 4vh;
	}
}

@media (max-width: 768px) and (orientation: portrait) {
	#logo-nav {
		height: 5vh;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	#logo-nav {
		height: 13vh;
	}
}

@media (max-width: 576px) and (orientation: portrait) {
	#logo-nav {
		height: 7vh;
	}
}
