/* Outline de todo el documento */
* {
	outline: none;
}

*:focus {
	outline: none;
}

*:active {
	outline: none;
}

/* Colores de Navegación */
.navegacion {
	background: rgba(0, 0, 0, 0.9);
}

.navegacion-dark {
	background: rgba(0, 0, 0, 1);
}

/* Búsqueda Flotante */
.busqueda-flotante {
	position: absolute;
	z-index: 11;
	height: 50px !important;
	width: 90vw !important;
	margin-left: 5vw;
	margin-top: 18vh;
	box-shadow: 5px 5px 18px #000;
	background: #fff;
	color: #000;
	border-radius: 25px !important;
}

/* Logo */
#logo-nav {
	height: 7vh;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* Búsqueda Flotante */
	.busqueda-flotante {
		width: 70vw !important;
		margin-left: 15vw;
		margin-top: 15vh;
	}

	/* Logo */
	#logo-nav {
		height: 6vh;
	}

	/* Botones de Navegación */
	#navegacion-botones {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#navegacion-botones div {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		background: rgba(0, 0, 0, 0);
		border: rgba(0, 0, 0, 0);
		border-radius: 50%;
		margin-left: 20px;
	}

	#navegacion-botones div i {
		color: #fff;
		font-size: 25px;
	}

	#navegacion-botones div:hover {
		background: rgba(0, 0, 0, 0.4);
	}

	#navegacion-botones div:active {
		background: rgba(0, 0, 0, 0.7);
	}

	/* Imagen Perfil */
	#perfil img {
		height: 40px;
		width: 40px;
		border-radius: 50%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/* Búsqueda Navegación */
	.busquedax input {
		margin-right: 40px;
		justify-self: center;
		width: 45vw !important;
		background: rgba(255, 255, 255, 0.65);
	}

	/* Búsqueda Flotante */
	.busqueda-flotante {
		display: none;
	}

	/* Logo */
	#logo-nav {
		height: 7vh;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
